* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Encode Sans Expanded, sans-serif;
  scroll-behavior: smooth;
  scroll-margin-top: -10rem;
  /* border-bottom-color: ; */
  
  /* scroll-margin: -1rem; */
}

body {
  min-height: 100vh;
}

/* HELPER CLASSES */
a {
  text-decoration: none;
  color: #fff;
}
.bgNone {
  background: none !important;
}
.bgDark {
  background: #000 !important;
  z-index: 100000;
}
.smallBtn {
  min-width: 30px !important;
  font-size: 1rem !important;
  padding: .6rem 1.2rem !important;
  background-color: red;
}
/*  */

.dropDownMenuActive,
.dropDownMenuFalse {
  min-height: 100vh;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  z-index: 100000;
  width: 100%;
  transition: transform 1s ease-in-out;
}
.dropDownMenuFalse {
  transform: translateY(-100%);
  transition: transform 1s ease-in-out;
  /* background-color: rebeccapurple; */
}

.closeMenuButton {
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 5%;
}

.dropDownMenuSignInButton {
  margin-top: 5rem;
  padding: .7rem 3rem;
  border-radius: 2rem;
  color: #000;
  font-size: 1rem;
  text-decoration: none;
  background-color: #f39540;
}

header {
  height: 100vh;
  color: #fff;
  position: relative;
}

header .appHeader {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
  height: 100%;
}

.bgVideo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  padding: 1.5rem;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.nav .logo {
  font-size: 1.7rem;
  font-weight: bold;
  cursor: pointer;
}

.nav .hambugerMenu {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav a.signIn {
  display: none;
  /* display: none !important; */
}

.nav .navContentContainer {
  display: none;
}

.headerContent {
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.headerContent h1 {
  font-size: 3rem;
}

.headerContent p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-block: 1rem 2rem;
}

.headerContent .btn {
}

.btn {
  padding: 0.5rem;
  min-width: 150px;
  border-radius: 2rem;
  background-color: #f39540;
  border: none;
  color: #000;
  font-weight: lighter;
  font-size: 1.2rem;
  cursor: pointer;
}

/* PRODUCT CARD */
.premium {
  background-color: #000;
  color: #fff;
  padding: 3rem 2.5rem;
}
.premium:nth-child(2n + 2) {
  background-color: #fff;
  color: #000;
}

.premium button {
  cursor: pointer;
}

.premium:nth-child(2n + 2) button {
  background-color: #000;
  color: #fff;
}

/* ODD BUTTON */
.premium:nth-child(2n + 1) button:hover,
.headerContent .btn:hover {
  background-color: #fff;
  color: #000;
}

/* EVEN BUTTON */
.premium:nth-child(2n) button:hover {
  background-color: #f39540;
  color: #fff;
}

.premium h2 {
  color: #f39540;
  font-size: 0.9rem;
  text-transform: uppercase;
}
.premium h3 {
  margin-block: 0.5rem;
  font-size: 3rem;
  display: g;
}
.premium p {
  margin-block: 1rem 1.5rem;
  font-size: 1.2rem;
  font-weight: lighter;
}
.premium .imageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 5rem 0.5rem;
}

.premium img {
  width: 100%;
  height: 100%;
  /* scale: 1.1; */
}

/* OUR SERVICES */
.services {
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 5rem 1rem 5rem;
}
.services h1 {
  padding-block: 4rem;
}

.serviceCard {
  background-color: #fff;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  color: #000;
  padding-block: 2rem;
  min-height: 17rem;
}
.serviceCard img {
  width: 30%;
  height: 30%;
}
.serviceCard h4 {
  margin-block: 0.5rem;
}

/* FOOTER */
.footerContainer {
  background-color: #3d0d01;
  /* text-align: center; */
  color: #fff;
  padding-block: 5rem 1rem;
}

.footerContainer .footerLink {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  width: 80%;
  margin: 1rem auto 3rem;
}

.footerLink .footerLinkGroup {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.footerLink .linkTitle {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.socialContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}
.socials {
  display: flex;
  gap: 3rem;
}

.socials svg {
  font-size: 1.5rem;
}

@media screen and (min-width: 960px) {
  /* NAV */
  .nav {
    width: 100%;
    padding-inline: 10%;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    padding-block: 0 !important;
  }
  
  .nav .navContentContainer {
    display: block;
    padding: 0 !important;
  }
  .nav .navContent {
    display: flex;
    gap: 2rem;
    list-style: none;
  }
  .nav .navContent li {
    min-height: 12vh;
    min-width: 6rem;
  }
  .nav .navContent li a {
    color: #fff;
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 3px solid #f39540 !important; */
  }
  .nav .hambugerMenu {
    display: none;
  }
  .nav a.signIn {
    display: block !important;
  }

  /* HEADER CONTENT */
  .headerContent {
    width: 50%;
  }

  /* PREMIUM CARDS */
  .premium {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15rem 7rem;
  }
  .premium.premium:nth-child(even) {
    flex-direction: row-reverse !important;

    /* display: none !important; */
  }

  .premium .text {
    width: 45%;
  }
  .premium .imageContainer {
    width: 50%;
    height: 50%;
    margin: 0;
  }

  /* Service cards */
  .serviceCardContainer {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 10rem 5rem;
  }
  .serviceCard {
    width: 30%;
    min-height: 50vh;
    transition: scale 0.25s ease-in-out;
    cursor: pointer;
  }
  .serviceCard:hover {
    scale: 1.05;
  }

  /* FOOTER */
  .footerLink {
    display: flex !important;
    flex-direction: row !important;
    gap: 0 !important;
  }

  .footerLinkGroup {
    justify-content: space-around !important;
    min-height: 35vh;
  }
  .socialContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
    margin-bottom: 3rem;
  }
}
